.App {
  text-align: center;
  
}

footer{
    height: 6vh;
}

.text-green{
  color:#41B3A3;
}

.text-granate{
  color:#E27D60;
}

.bg-green{
  background-color: #41B3A3 !important;
}

.btn-green{
  background-color: #41B3A3 !important;
}

.btn-green:hover{
  background-color: #379386 !important;
}

.border-green{
  border:2px solid #41B3A3 !important;
}

.font-size-default{
  font-size: 1.3vw;
}

.font-size-card{
  font-size: 1.1vw;
}

.font-size-title{
  font-size: 5vw;
}

.shadow-default{
  -webkit-box-shadow: 0px 3px 2px -2px rgba(209,202,202,1);
  -moz-box-shadow: 0px 3px 2px -2px rgba(209,202,202,1);
  box-shadow: 0px 3px 2px -2px rgba(209,202,202,1);
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
