.row-about-me{
    height: 89vh;
}

.row-studies{
    height: 90vh;
}



@media (min-width:998px){
    .row-studies{
        justify-content: center !important;
    }
}

@media (min-width:768px){
    .row-studies{
        justify-content: space-around;
    }

    .row-studies div div p{
        font-size: 1.8vh;
    }
}

@media (max-width:767px){
    .row-studies{
        height: 175vh;
    }

    .row-studies{
        justify-content: space-around;
    }
}

@media screen and (max-width:576px){
    .row-studies{
        height: 175vh;
    }

    .row-studies div div p{
        font-size: 1.8vh;
    }

    .row-about-me div div:nth-child(2){
        font-size: 1.5vh;
    }
}